---
import Section from "@/components/Section.astro";
import HTML from "@/icons/Html.astro";
import CSS from "@/icons/Css3.astro";
import JavaScript from "@/icons/Javascript.astro";
import TypeScript from "@/icons/Typescript.astro";
import React from "@/icons/React.astro";
import Node from "@/icons/Nodejs.astro";
import MySQL from "@/icons/Mysql.astro";
import Git from "@/icons/Git.astro";
import GitHub from "@/icons/GitHub.astro";
import Next from "@/icons/Nextjs.astro";
import Tailwind from "@/icons/Tailwind.astro";
import { type SocialIcon } from "@/types";

import { skills } from "@cv";

const SKILLS_ICONS: SocialIcon = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
};
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    border-radius: 6px;
    display: flex;
    align-items: center;
    background: #eee;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
